#buttons
  float: left
  width: 30%
.sb-front-button
  float: left
  display: inline-block
  width: 30px
  height: 30px
  border-radius: 15px
  margin-right: 10px
.sb-front-button-available
 
.available 
  -moz-box-shadow: inset -5px 11px 12px -35px #0c690f
  -webkit-box-shadow: inset -5px 11px 12px -35px #0c690f
  box-shadow: inset -5px 11px 12px -35px #0c690f
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05,#27a129), color-stop(1, #0c690f) )
  background: -moz-linear-gradient( center top, #27a129 5%, #0c690f 100% )
  background-color: #27a129
  -webkit-border-top-left-radius: 14px
  -moz-border-radius-topleft: 14px
  border-top-left-radius: 14px
  -webkit-border-top-right-radius: 14px
  -moz-border-radius-topright: 14px
  border-top-right-radius: 14px
  -webkit-border-bottom-right-radius: 14px
  -moz-border-radius-bottomright: 14px
  border-bottom-right-radius: 14px
  -webkit-border-bottom-left-radius: 14px
  -moz-border-radius-bottomleft: 14px
  border-bottom-left-radius: 14px
  text-indent: 0
  border: 1px solid #140e03
  display: inline-block
  color: #ffffff
  font-family: Arial
  font-size: 9px
  font-weight: bold
  font-style: normal
  height: 30px
  line-height: 30px
  width: 30px
  text-decoration: none
  text-align: center
  text-shadow: 1px 1px 0px #cc9f52

.available:hover 
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0c690f), color-stop(1, #27a129) )
  background: -moz-linear-gradient( center top, #0c690f 5%, #27a129 100% )
  background-color: #0c690f

.available:active 
  position: relative
  top: 1px

.sb-front-button-unavailable
  background: red

.drink
  width: 200px
  height: 35px
  position: relative

#dispenser
  position: relative
  float: left
  width: 70%
  height: 500px
  background: black
  #cup-holder
    position: absolute
    width: 200px
    height: 200px
    margin: auto
    left: 50%
    top: 50%
    margin-top: -100px
    margin-left: -100px
    background: #2f2f2f
    text-align: center
  #display
    width: 80%
    margin-left: 10%
    height: 70px
    padding-top: 10px
    background: white
    margin-top: 30px
    text-align: center